# If this is your first time writing a language grammar, check out:
#   - http://manual.macromates.com/en/language_grammars

'scopeName': 'text.prose'
'name': 'Prose'
'comment': 'Prose markdown'
'fileTypes': [
  'prose'
]
'patterns': [
  {
    'match': '_([^_]*)_(\\([^\\)]*\\))'
    'name': 'comment'
    'captures':
      '1':
        'name': 'markup.quote'
      '2':
        'name': 'comment'
  }
  {
    'match': '(>>[^<]*<<|"[^"]*")'
    'name': 'speech'
    'captures':
      '1':
        'name': 'string.quoted.double'
  }
]
